// rfs modules
@import '~rfs/scss';

:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
.title,
h1#title_js__component {
  @include rfs(64);
}
h1#moo span {
  text-decoration: underline;
  text-decoration-color: #00aeef;
}
h3#footer__component {
  @include font-size(1.6rem);
}
// div.default__background[style] {
//   opacity: unset !important;
// }
.default__background,
.about__background {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: auto;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
  opacity: unset !important;
}
.about__background {
  min-height: 60vh;
}
.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}
.footer {
  background: var(--mainBrown);
}
